
.contact-me {
    /* Primary Text */
    /* padding-top: 73px; */
    height: 56px;
  
    /* Header / 2 */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  
    /* or 130% */
    text-align: center;
  
    /* Neutrals/N0 */
    color: #fff;
  }
  
  .contact-desc {
    /* Primary Text */
    height: 102px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: -30px;
  
    /* or 140% */
    text-align: center;
  
    /* Primary/B50 */
    color: #ebebff;
  }
  .name {
    margin-top: 100px;
  
  }
  .email{
    margin-top: 20px;
  
  }
  .name, .email {
    /* Mono/White */
    width:90%;
    height:48px;
    background: #fff;
    /* Base/100 */
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 8px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
  
    /* or 118% */
    display: flex;
    align-items: center;
  
    /* Neutral/N800 */
    color: #172b4d;
  }
  
  .message {
    padding: 8px;
    margin-top: 20px;
    width: 90%;
    height:170px;
    border-radius: 8px;
  
    /* Input /Normal */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  
    /* or 160% */
  
    /* Neutrals/N60 */
    color: #b3bac5;
  }
  
  .contact-button {
    background-color: white;
    width: 50%;
    margin-top: -30px;
  }