body {
  font-family: Poppins, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 104px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 16px;
}

.clock {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000;
  padding-left: 40px;
}

.icons {
  margin-top: 9px;
  padding-right: 20px;
}

.logo {
  /* MY LOGO */

  width: 76px;
  height: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* flex */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 3px;
  margin-left: 15px;
  text-decoration: none;
}

.logo:hover {
  color: gray;
  cursor: pointer;
}

nav > i {
  padding-right: 20px;
}

.icons > i {
  font-size: 12px;
  margin: 1px;
}

.background {
  width: 100%;
  height: 587px;
  background-image: url("Microverse-Student-Project-1/header-shapes\ mobile.png");
  background-size: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 80px 30px;
}

.title {
  flex: 1;

  /* Primary Text */
  width: 100%;
  height: 150px;

  /* Header / 2 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* Neutrals/N800 */
  color: #172b4d;
  margin-bottom: 100px;
}

.paragraph {
  flex: 1;

  /* Primary Text */
  width: 100%;
  height: 146px;
  margin-top: -10px;

  /* Body / 2 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* Neutrals/N600 */
  color: #344563;
}

.connect {
  /* LET’S CONNECT */
  width: 300px;
  height: 24px;

  /* Body / 2 - Bolder */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */
  color: #7f8cff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 28px;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 23px;
  list-style: none;
  padding-left: 0;
  margin-top: -5px;
}

.media-item {
  padding: 5px;
  color: #505f79;
}

.subtitle > i {
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  padding: 0 20px;
}

nav > i:hover {
  color: gray;
  cursor: pointer;
}

.media-item:hover {
  color: gray;
}

/* CARD WORK */

.space {
  width: 100%;
  height: 114px;
}

.cardwork {
  /* Card Works */
  margin: auto;
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 800px;

  /* Neutrals/N0 */
  background: #fff;

  /* Neutrals/N40 */
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("Microverse-Student-Project-1/Snapshoot\ Portfolio.png");
  background-size: cover;
  background-position: center;
}

.info {
  flex: 2;
  width: 100%;
}

.cardwork-title {
  /* Project Title */

  width: 100%;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* Neutrals/N800 */
  color: #172b4d;
}

.subtitle {
  display: flex;
  flex-direction: row;
  padding: 10px 0 25px;
}

.company {
  /* Text */
  width: 55px;
  height: 16px;
  padding-left: 0;
  padding-right: 10px;

  /* Caption / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.job {
  /* Text */
  width: 130px;
  height: 16px;

  /* Caption / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */
  color: #7a869a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  /* Text */

  width: 88px;
  height: 16px;

  /* Caption / 1 - Bolder */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */
  color: #7a869a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.desc {
  /* Primary Text */

  width: 295px;
  height: 76px;
  padding-bottom: 20px;

  /* Body / 3 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.tag {
  /* Tag */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  margin-right: 10px;
  width: 53px;
  height: 24px;

  /* Primary/B50 */
  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */
  letter-spacing: 0.03em;

  /* Primary/B400 */
  color: #6070ff;
}

.javascript {
  width: 70px;
}

.button {
  /* Normal Button/Secondary/Enabled */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;

  /* Primary/B400 */
  border: 1px solid #6070ff;
  border-radius: 8px;

  /* See Project */
  width: 150px;
  height: 24px;

  /* Button /Normal */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* Primary/B500 */
  color: #396df2;
}
